@charset "UTF-8";

@font-face {
  font-family: Larsseit;
  font-display: swap;
  src: url("../fonts/Larsseit-Bold.woff2") format("woff2"), url("../fonts/Larsseit-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Larsseit;
  font-display: swap;
  src: url("../fonts/Larsseit-Medium.woff2") format("woff2"), url("../fonts/Larsseit-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Larsseit;
  font-display: swap;
  src: url("../fonts/Larsseit.woff2") format("woff2"), url("../fonts/Larsseit.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: rgba(34, 53, 111, 0.5019607843);
  line-height: 1;
  font-family: "Larsseit";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Larsseit";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.logo {
  position: relative;
  z-index: 99;
  white-space: nowrap;
  color: #62D0DF;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.035em;
}

.logo span {
  display: inline-block;
}

.text p:not(:last-child) {
  margin-bottom: 0.625rem;
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.header._header-scroll::before {
  opacity: 1;
}

.header__container {
  max-width: 72.5rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  min-height: 4.8125rem;
  padding-top: 1.6875rem;
  padding-bottom: 1.6875rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
  grid-template-columns: auto 1fr auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
  row-gap: 1.875rem;
}

.header__menu {
  position: relative;
  z-index: 99;
  -ms-grid-column-align: center;
      justify-self: center;
}

.header__actions {
  position: relative;
  z-index: 99;
  position: relative;
}

.header__button {
  width: 100%;
  border-radius: 3.125rem;
  background: #62D0DF;
  text-align: center;
  padding: 1.25rem 1.875rem;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.header__button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #62D0DF;
  border-radius: 3.125rem;
  z-index: -2;
}

.header__button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #29b8cb;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  border-radius: 3.125rem;
  z-index: -1;
}

.header__button:hover {
  color: #fff;
}

.header__button:hover:before {
  width: 100%;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 1.875rem;
}

.menu__link {
  color: #22356F;
  font-size: 0.875rem;
  font-weight: 500;
  position: relative;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.menu__link::after {
  content: "";
  position: absolute;
  bottom: -0.875rem;
  left: -12.5%;
  height: 0.0625rem;
  width: 0;
  background-color: #22356F;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__link._navigator-active::after {
  width: 125%;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: toRem(30);
		height: toRem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - toRem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.main-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 0.9375rem;
  -webkit-column-gap: 4.25rem;
     -moz-column-gap: 4.25rem;
          column-gap: 4.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-footer__image {
  height: 100%;
}

.main-footer__image img {
  width: 100%;
}

.main-footer__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 1.25rem;
  -webkit-column-gap: 3.75rem;
     -moz-column-gap: 3.75rem;
          column-gap: 3.75rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.column-main-footer {
  text-align: center;
  width: 11.25rem;
  position: relative;
}

.column-main-footer__title {
  text-transform: uppercase;
  color: #22356F;
  font-weight: 700;
}

.column-main-footer__title:not(:last-child) {
  margin-bottom: 3.4375rem;
}

.column-main-footer__info {
  line-height: 1.6;
}

.column-main-footer__adress {
  display: inline-block;
  padding-bottom: 0.3125rem;
  border-bottom: 0.0625rem solid rgba(98, 209, 223, 0);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.column-main-footer__adress:not(:last-child) {
  margin-bottom: 0.625rem;
}

.column-main-footer__tel {
  display: inline-block;
  border-bottom: 0.0625rem solid rgba(98, 209, 223, 0);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.column-main-footer__mail {
  display: inline-block;
  color: #006DFF;
  border-bottom: 0.0625rem solid rgba(0, 110, 255, 0);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.copy-footer {
  background-color: #62D0DF;
}

.copy-footer__container {
  max-width: 72.5rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  padding-top: 2rem;
  padding-bottom: 1.625rem;
  color: #fff;
  font-weight: 700;
}

.page__main {
  padding-bottom: 4.6875rem;
}

.main-page {
  background-color: #F4F9E2;
  position: relative;
}

.main-page::before {
  content: "";
  background-color: #fff;
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 22.461752%;
  right: 0;
  top: 0;
}

.main-page__container {
  max-width: 72.5rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.main-page__content {
  max-width: 30.25rem;
  position: relative;
  z-index: 7;
}

.main-page__media {
  position: absolute;
  top: 0;
  right: 0;
}

.main-page__media::before {
  content: "";
  position: absolute;
  top: 4%;
  right: -20%;
  border-radius: 19.5099375rem;
  background: #EDFDFF;
  width: 50.5rem;
  height: 34.0625rem;
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg);
  z-index: 4;
}

.main-page__media img {
  position: relative;
  z-index: 5;
  max-width: 100%;
}

.content-main__logo {
  display: inline-block;
}

.content-main__title {
  text-transform: uppercase;
  color: #22356F;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -0.105rem;
}

.content-main__text {
  line-height: 2;
  color: #22356F;
}

.actions-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
}

.actions-main__button {
  text-transform: uppercase;
  padding: 0.625rem 1.875rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: inline-block;
}

.actions-main__button--bg {
  background-color: #FAB63E;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.actions-main__button--no-bg {
  color: #FAB63E;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.why {
  background-color: #62D0DF;
}

.why__container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  row-gap: 1.875rem;
  -webkit-column-gap: 6.625rem;
     -moz-column-gap: 6.625rem;
          column-gap: 6.625rem;
}

.why__content {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  padding-top: 9.4375rem;
  padding-bottom: 3.125rem;
  max-width: 34.6875rem;
}

.why__title {
  color: #fff;
  font-weight: 700;
  letter-spacing: -0.0135rem;
  margin-bottom: 4.6875rem;
}

.why__text {
  color: #fff;
  line-height: 1.3333333333;
}

.why__text span {
  font-weight: 700;
}

.why__image img {
  max-width: 100%;
}

.about {
  position: relative;
}

.about::before {
  content: "ABOUT US";
  position: absolute;
  top: 40%;
  left: 7.345807%;
  color: #22356F;
  font-size: 1rem;
  letter-spacing: 0.06rem;
}

.about__container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.about__text {
  color: #22356F;
  line-height: 1.3333333333;
  font-weight: 500;
  letter-spacing: 0.0075rem;
  max-width: 37rem;
}

.we-can-help__title {
  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 0.06em;
}

.we-can-help__title:not(:last-child) {
  margin-bottom: 1.5rem;
}

.we-can-help__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
}

.item-help {
  aspect-ratio: 1/1;
  overflow: hidden;
  padding-top: 26.4%;
  padding-left: 4.875rem;
}

.item-help:nth-child(1) {
  background-color: #FFE2DE;
}

.item-help:nth-child(2) {
  background-color: #C4E769;
}

.item-help:nth-child(3) {
  background-color: #62D0DF;
}

.item-help:nth-child(4) {
  background-color: #0052C1;
}

.item-help__caption {
  position: relative;
  color: #fff;
  font-weight: 700;
  letter-spacing: -0.012em;
  border-top: 0.0625rem solid #fff;
  padding-top: 1.4375rem;
  padding-left: 1.5rem;
}

.item-help__caption::before {
  content: "";
  position: absolute;
  background-color: #E9B730;
  width: 0.5625rem;
  height: 0.5625rem;
  border-radius: 50%;
  left: 0;
  top: 56%;
}

.features__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
}

.item-features {
  position: relative;
  aspect-ratio: 1/1;
  overflow: hidden;
  padding-top: 26.4%;
  padding-left: 4.875rem;
}

.item-features::after {
  content: "";
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.item-features:hover::after {
  right: 100%;
}

.no-webp .item-features:nth-child(1){
  background: url("../img/features/01.jpg") center/cover no-repeat; }

.item-features:nth-child(1)::after {
  background-color: #22356F;
}

.no-webp .item-features:nth-child(2){
  background: url("../img/features/02.jpg") center/cover no-repeat; }

.item-features:nth-child(2)::after {
  background-color: #0052C1;
}

.no-webp .item-features:nth-child(3){
  background: url("../img/features/03.jpg") center/cover no-repeat; }

.item-features:nth-child(3)::after {
  background-color: #BDD9DB;
}

.no-webp .item-features:nth-child(4){
  background: url("../img/features/04.jpg") center/cover no-repeat; }

.item-features:nth-child(4)::after {
  background-color: #62D0DF;
}

.no-webp .item-features:nth-child(5){
  background: url("../img/features/05.jpg") center/cover no-repeat; }

.item-features:nth-child(5)::after {
  background-color: #DEE1FF;
}

.no-webp .item-features:nth-child(6){
  background: url("../img/features/06.jpg") center/cover no-repeat; }

.item-features:nth-child(6)::after {
  background-color: #8F00FF;
}

.item-features__caption {
  z-index: 3;
  position: relative;
  color: #fff;
  font-weight: 700;
  letter-spacing: -0.012em;
  border-top: 0.0625rem solid #fff;
  padding-top: 1.4375rem;
  padding-left: 1.5rem;
}

.item-features__caption::before {
  content: "";
  position: absolute;
  background-color: #E9B730;
  width: 0.5625rem;
  height: 0.5625rem;
  border-radius: 50%;
  left: 0;
  top: 56%;
}

.services__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.services__item {
  max-width: 18.625rem;
}

.item-services__title {
  color: #22356F;
  letter-spacing: -0.03em;
}

.item-services__title:not(:last-child) {
  margin-bottom: 1.75rem;
}

.item-services__text {
  color: rgba(34, 53, 111, 0.5019607843);
  font-size: 1rem;
  letter-spacing: -0.03em;
}

.item-services__text:not(:last-child) {
  margin-bottom: 0.625rem;
}

.also-know__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1.875rem;
  -webkit-column-gap: 6.625rem;
     -moz-column-gap: 6.625rem;
          column-gap: 6.625rem;
}

.also-know__image img {
  max-width: 100%;
}

.also-know__content {
  padding-top: 0.9375rem;
  padding-bottom: 2.1875rem;
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
}

.also-know__title {
  color: #22356F;
  font-size: 1rem;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.also-know__title:not(:last-child) {
  margin-bottom: 14.0625rem;
}

.also-know__text {
  color: #22356F;
  font-weight: 700;
  letter-spacing: -0.01em;
  max-width: 42.25rem;
}

.also-know__text:not(:last-child) {
  margin-bottom: 9.5rem;
}

.also-know__link {
  color: #FAB63E;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 0.1em;
  padding-bottom: 0.3125rem;
  border-bottom: 0.0625rem solid rgba(250, 181, 62, 0);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.also-know__link:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.contact-us {
  background-color: #22356F;
}

.contact-us__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1.875rem;
  -webkit-column-gap: 12.5625rem;
     -moz-column-gap: 12.5625rem;
          column-gap: 12.5625rem;
}

.contact-us__content {
  max-width: 36.1875rem;
  padding: 0.9375rem 0.9375rem 2.1875rem 0.9375rem;
}

.contact-us__title {
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.contact-us__title:not(:last-child) {
  margin-bottom: 14.375rem;
}

.contact-us__caption {
  color: #fff;
  font-weight: 700;
  letter-spacing: -0.01em;
}

.contact-us__caption:not(:last-child) {
  margin-bottom: 4.6875rem;
}

.contact-us__text {
  color: #fff;
  font-family: Larsseit;
  letter-spacing: -0.0028125em;
}

.contact-us__text:not(:last-child) {
  margin-bottom: 5.625rem;
}

.contact-us__link {
  color: #62D0DF;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 0.1em;
  padding-bottom: 0.3125rem;
  border-bottom: 0.0625rem solid rgba(98, 209, 223, 0);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contact-us__link:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.contact-us__image img {
  max-width: 100%;
}

@media (min-width: 36.8125em) {
  .column-main-footer:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 0.0625rem;
    height: 100%;
    -webkit-transform: translate(0, 1.25rem);
        -ms-transform: translate(0, 1.25rem);
            transform: translate(0, 1.25rem);
    bottom: 0;
    right: -0.625rem;
    background-color: #F9F9F9;
  }
}

@media (min-width: 43.75em) {
  .why__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 34.6875rem;
            flex: 0 1 34.6875rem;
  }
}

@media (min-width: 90.1875em) {
  .menu__list {
    -webkit-column-gap: 1.5625rem;
       -moz-column-gap: 1.5625rem;
            column-gap: 1.5625rem;
  }

  .page__main {
    padding-top: 15.4375rem;
  }

  .page__about {
    padding-top: 9.375rem;
  }

  .page__about {
    padding-bottom: 4.75rem;
  }

  .page__we-can-help {
    padding-top: 4.375rem;
  }

  .page__features {
    padding-top: 7.5rem;
  }

  .page__services {
    padding-top: 4.8125rem;
  }

  .page__services {
    padding-bottom: 2.375rem;
  }

  .page__also-know {
    padding-top: 4.8125rem;
  }

  .content-main__logo:not(:last-child) {
    margin-bottom: 3.375rem;
  }

  .content-main__title {
    font-size: 3rem;
  }

  .content-main__title:not(:last-child) {
    margin-bottom: 4.875rem;
  }

  .content-main__text {
    font-size: 1.5rem;
  }

  .content-main__text:not(:last-child) {
    margin-bottom: 3.5rem;
  }

  .content-main__actions:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .why__title {
    font-size: 2.25rem;
  }

  .why__text {
    font-size: 1.5rem;
  }

  .why__text:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .about__text {
    font-size: 1.5rem;
  }

  .item-help {
    padding-right: 3.3125rem;
  }

  .item-help {
    padding-bottom: 1.5625rem;
  }

  .item-help__caption {
    font-size: 2rem;
  }

  .item-features {
    padding-right: 3.3125rem;
  }

  .item-features {
    padding-bottom: 1.5625rem;
  }

  .item-features__caption {
    font-size: 2rem;
  }

  .services__container {
    padding-left: 6.5625rem;
  }

  .services__container {
    padding-right: 6.5625rem;
  }

  .services__items {
    -webkit-column-gap: 11.375rem;
       -moz-column-gap: 11.375rem;
            column-gap: 11.375rem;
  }

  .services__items {
    row-gap: 5.75rem;
  }

  .item-services__title {
    font-size: 1.75rem;
  }

  .also-know__text {
    font-size: 2.25rem;
  }

  .contact-us__caption {
    font-size: 4rem;
  }

  .contact-us__text {
    font-size: 2.25rem;
  }
}

@media (max-width: 60em) {
  .item-help {
    padding-left: 1.875rem;
  }

  .item-features {
    padding-left: 1.875rem;
  }
}

@media (max-width: 50em) {
  .main-footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main-footer__image {
    width: 100%;
  }

  .why__container {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }

  .why__content {
    padding-top: 2.5rem;
  }

  .why__content {
    padding-bottom: 1.25rem;
  }

  .why__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .also-know__container {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }

  .also-know__title:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .also-know__text:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .contact-us__container {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }

  .contact-us__title:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .contact-us__caption:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .contact-us__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}

@media (max-width: 20em) {
  .menu__list {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .page__main {
    padding-top: 6.25rem;
  }

  .page__about {
    padding-top: 3.75rem;
  }

  .page__about {
    padding-bottom: 1.875rem;
  }

  .page__we-can-help {
    padding-top: 1.875rem;
  }

  .page__features {
    padding-top: 3.125rem;
  }

  .page__services {
    padding-top: 1.875rem;
  }

  .page__services {
    padding-bottom: 0.9375rem;
  }

  .page__also-know {
    padding-top: 1.875rem;
  }

  .content-main__logo:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .content-main__title {
    font-size: 1.5rem;
  }

  .content-main__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .content-main__text {
    font-size: 1rem;
  }

  .content-main__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .content-main__actions:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .why__title {
    font-size: 1.25rem;
  }

  .why__text {
    font-size: 1rem;
  }

  .why__text:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .about__text {
    font-size: 1rem;
  }

  .item-help {
    padding-right: 1.25rem;
  }

  .item-help {
    padding-bottom: 0.625rem;
  }

  .item-help__caption {
    font-size: 1.5rem;
  }

  .item-features {
    padding-right: 1.25rem;
  }

  .item-features {
    padding-bottom: 0.625rem;
  }

  .item-features__caption {
    font-size: 1.5rem;
  }

  .services__container {
    padding-left: 0.9375rem;
  }

  .services__container {
    padding-right: 0.9375rem;
  }

  .services__items {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }

  .services__items {
    row-gap: 0.9375rem;
  }

  .item-services__title {
    font-size: 1.25rem;
  }

  .also-know__text {
    font-size: 1.5rem;
  }

  .contact-us__caption {
    font-size: 1.5rem;
  }

  .contact-us__text {
    font-size: 1.125rem;
  }
}

@media (max-width: 71.875em) {
  .main-footer__container {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }

  .main-footer__columns {
    -webkit-column-gap: 1.5625rem;
       -moz-column-gap: 1.5625rem;
            column-gap: 1.5625rem;
  }

  .column-main-footer__title:not(:last-child) {
    margin-bottom: 0.9375rem;
  }
}

@media (max-width: 70.9375em) {
  .main-page::before {
    display: none;
  }

  .main-page__content {
    max-width: 100%;
    text-align: center;
  }

  .main-page__media {
    display: none;
  }

  .content-main__logo {
    display: none;
  }

  .actions-main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 61.99875em) {
  .about::before {
    top: 10%;
  }
}

@media (max-width: 47.99875em) {
  .we-can-help__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 43.75em) {
  .why__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .why__title {
    text-align: center;
  }

  .why__text {
    text-align: center;
  }

  .why__image img {
    width: 100%;
  }

  .why__image {
    width: 100%;
  }
}

@media (max-width: 40.625em) {
  .logo {
    -ms-grid-column-align: center;
        justify-self: center;
  }

  .header__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .header__actions {
    padding: 0 20%;
  }

  .header__button {
    padding: 0.9375rem 0.9375rem;
  }

  .page__main {
    padding-top: 12.5rem;
  }
}

@media (max-width: 32.5em) {
  .also-know__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .also-know__image img {
    width: 100%;
  }

  .also-know__image {
    width: 100%;
  }

  .contact-us__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contact-us__content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .contact-us__image img {
    width: 100%;
  }

  .contact-us__image {
    width: 100%;
  }
}

@media (max-width: 29.99875em) {
  .actions-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .features__items {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 20em) and (max-width: 90.1875em) {
@supports ((-moz-column-gap: clamp( 0.9375rem , 0.75940561rem  +  0.8904719501vw , 1.5625rem )) or (column-gap: clamp( 0.9375rem , 0.75940561rem  +  0.8904719501vw , 1.5625rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 0.9375rem , 0.75940561rem  +  0.8904719501vw , 1.5625rem );
         -moz-column-gap: clamp( 0.9375rem , 0.75940561rem  +  0.8904719501vw , 1.5625rem );
              column-gap: clamp( 0.9375rem , 0.75940561rem  +  0.8904719501vw , 1.5625rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , 0.75940561rem  +  0.8904719501vw , 1.5625rem )) or (column-gap: clamp( 0.9375rem , 0.75940561rem  +  0.8904719501vw , 1.5625rem ))) {
    .menu__list {
      -webkit-column-gap: calc(0.9375rem + 0.625 * (100vw - 20rem) / 70.1875);
         -moz-column-gap: calc(0.9375rem + 0.625 * (100vw - 20rem) / 70.1875);
              column-gap: calc(0.9375rem + 0.625 * (100vw - 20rem) / 70.1875);
    }
}

@supports (padding-top: clamp( 6.25rem , 3.6320124666rem  +  13.089937667vw , 15.4375rem )) {
    .page__main {
      padding-top: clamp( 6.25rem , 3.6320124666rem  +  13.089937667vw , 15.4375rem );
    }
}

@supports not (padding-top: clamp( 6.25rem , 3.6320124666rem  +  13.089937667vw , 15.4375rem )) {
    .page__main {
      padding-top: calc(6.25rem + 9.1875 * (100vw - 20rem) / 70.1875);
    }
}

@supports (padding-top: clamp( 3.75rem , 2.1471504898rem  +  8.0142475512vw , 9.375rem )) {
    .page__about {
      padding-top: clamp( 3.75rem , 2.1471504898rem  +  8.0142475512vw , 9.375rem );
    }
}

@supports not (padding-top: clamp( 3.75rem , 2.1471504898rem  +  8.0142475512vw , 9.375rem )) {
    .page__about {
      padding-top: calc(3.75rem + 5.625 * (100vw - 20rem) / 70.1875);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.0557658059rem  +  4.0961709706vw , 4.75rem )) {
    .page__about {
      padding-bottom: clamp( 1.875rem , 1.0557658059rem  +  4.0961709706vw , 4.75rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.0557658059rem  +  4.0961709706vw , 4.75rem )) {
    .page__about {
      padding-bottom: calc(1.875rem + 2.875 * (100vw - 20rem) / 70.1875);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.1626224399rem  +  3.5618878005vw , 4.375rem )) {
    .page__we-can-help {
      padding-top: clamp( 1.875rem , 1.1626224399rem  +  3.5618878005vw , 4.375rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.1626224399rem  +  3.5618878005vw , 4.375rem )) {
    .page__we-can-help {
      padding-top: calc(1.875rem + 2.5 * (100vw - 20rem) / 70.1875);
    }
}

@supports (padding-top: clamp( 3.125rem , 1.8783392698rem  +  6.2333036509vw , 7.5rem )) {
    .page__features {
      padding-top: clamp( 3.125rem , 1.8783392698rem  +  6.2333036509vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 1.8783392698rem  +  6.2333036509vw , 7.5rem )) {
    .page__features {
      padding-top: calc(3.125rem + 4.375 * (100vw - 20rem) / 70.1875);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.0379563669rem  +  4.1852181656vw , 4.8125rem )) {
    .page__services {
      padding-top: clamp( 1.875rem , 1.0379563669rem  +  4.1852181656vw , 4.8125rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.0379563669rem  +  4.1852181656vw , 4.8125rem )) {
    .page__services {
      padding-top: calc(1.875rem + 2.9375 * (100vw - 20rem) / 70.1875);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.5278829029rem  +  2.0480854853vw , 2.375rem )) {
    .page__services {
      padding-bottom: clamp( 0.9375rem , 0.5278829029rem  +  2.0480854853vw , 2.375rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.5278829029rem  +  2.0480854853vw , 2.375rem )) {
    .page__services {
      padding-bottom: calc(0.9375rem + 1.4375 * (100vw - 20rem) / 70.1875);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.0379563669rem  +  4.1852181656vw , 4.8125rem )) {
    .page__also-know {
      padding-top: clamp( 1.875rem , 1.0379563669rem  +  4.1852181656vw , 4.8125rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.0379563669rem  +  4.1852181656vw , 4.8125rem )) {
    .page__also-know {
      padding-top: calc(1.875rem + 2.9375 * (100vw - 20rem) / 70.1875);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.6444790739rem  +  3.0276046305vw , 3.375rem )) {
    .content-main__logo:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.6444790739rem  +  3.0276046305vw , 3.375rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.6444790739rem  +  3.0276046305vw , 3.375rem )) {
    .content-main__logo:not(:last-child) {
      margin-bottom: calc(1.25rem + 2.125 * (100vw - 20rem) / 70.1875);
    }
}

@supports (font-size: clamp( 1.5rem , 1.0725734639rem  +  2.1371326803vw , 3rem )) {
    .content-main__title {
      font-size: clamp( 1.5rem , 1.0725734639rem  +  2.1371326803vw , 3rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.0725734639rem  +  2.1371326803vw , 3rem )) {
    .content-main__title {
      font-size: calc(1.5rem + 1.5 * (100vw - 20rem) / 70.1875);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.0201469279rem  +  4.2742653606vw , 4.875rem )) {
    .content-main__title:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 1.0201469279rem  +  4.2742653606vw , 4.875rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.0201469279rem  +  4.2742653606vw , 4.875rem )) {
    .content-main__title:not(:last-child) {
      margin-bottom: calc(1.875rem + 3 * (100vw - 20rem) / 70.1875);
    }
}

@supports (font-size: clamp( 1rem , 0.857524488rem  +  0.7123775601vw , 1.5rem )) {
    .content-main__text {
      font-size: clamp( 1rem , 0.857524488rem  +  0.7123775601vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.857524488rem  +  0.7123775601vw , 1.5rem )) {
    .content-main__text {
      font-size: calc(1rem + 0.5 * (100vw - 20rem) / 70.1875);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.6088601959rem  +  3.2056990205vw , 3.5rem )) {
    .content-main__text:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.6088601959rem  +  3.2056990205vw , 3.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.6088601959rem  +  3.2056990205vw , 3.5rem )) {
    .content-main__text:not(:last-child) {
      margin-bottom: calc(1.25rem + 2.25 * (100vw - 20rem) / 70.1875);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.670358415rem  +  1.3357079252vw , 1.875rem )) {
    .content-main__actions:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , 0.670358415rem  +  1.3357079252vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.670358415rem  +  1.3357079252vw , 1.875rem )) {
    .content-main__actions:not(:last-child) {
      margin-bottom: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 70.1875);
    }
}

@supports (font-size: clamp( 1.25rem , 0.965048976rem  +  1.4247551202vw , 2.25rem )) {
    .why__title {
      font-size: clamp( 1.25rem , 0.965048976rem  +  1.4247551202vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.965048976rem  +  1.4247551202vw , 2.25rem )) {
    .why__title {
      font-size: calc(1.25rem + 1 * (100vw - 20rem) / 70.1875);
    }
}

@supports (font-size: clamp( 1rem , 0.857524488rem  +  0.7123775601vw , 1.5rem )) {
    .why__text {
      font-size: clamp( 1rem , 0.857524488rem  +  0.7123775601vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.857524488rem  +  0.7123775601vw , 1.5rem )) {
    .why__text {
      font-size: calc(1rem + 0.5 * (100vw - 20rem) / 70.1875);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.670358415rem  +  1.3357079252vw , 1.875rem )) {
    .why__text:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , 0.670358415rem  +  1.3357079252vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.670358415rem  +  1.3357079252vw , 1.875rem )) {
    .why__text:not(:last-child) {
      margin-bottom: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 70.1875);
    }
}

@supports (font-size: clamp( 1rem , 0.857524488rem  +  0.7123775601vw , 1.5rem )) {
    .about__text {
      font-size: clamp( 1rem , 0.857524488rem  +  0.7123775601vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.857524488rem  +  0.7123775601vw , 1.5rem )) {
    .about__text {
      font-size: calc(1rem + 0.5 * (100vw - 20rem) / 70.1875);
    }
}

@supports (padding-right: clamp( 1.25rem , 0.6622885129rem  +  2.9385574354vw , 3.3125rem )) {
    .item-help {
      padding-right: clamp( 1.25rem , 0.6622885129rem  +  2.9385574354vw , 3.3125rem );
    }
}

@supports not (padding-right: clamp( 1.25rem , 0.6622885129rem  +  2.9385574354vw , 3.3125rem )) {
    .item-help {
      padding-right: calc(1.25rem + 2.0625 * (100vw - 20rem) / 70.1875);
    }
}

@supports (padding-bottom: clamp( 0.625rem , 0.357858415rem  +  1.3357079252vw , 1.5625rem )) {
    .item-help {
      padding-bottom: clamp( 0.625rem , 0.357858415rem  +  1.3357079252vw , 1.5625rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.357858415rem  +  1.3357079252vw , 1.5625rem )) {
    .item-help {
      padding-bottom: calc(0.625rem + 0.9375 * (100vw - 20rem) / 70.1875);
    }
}

@supports (font-size: clamp( 1.5rem , 1.357524488rem  +  0.7123775601vw , 2rem )) {
    .item-help__caption {
      font-size: clamp( 1.5rem , 1.357524488rem  +  0.7123775601vw , 2rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.357524488rem  +  0.7123775601vw , 2rem )) {
    .item-help__caption {
      font-size: calc(1.5rem + 0.5 * (100vw - 20rem) / 70.1875);
    }
}

@supports (padding-right: clamp( 1.25rem , 0.6622885129rem  +  2.9385574354vw , 3.3125rem )) {
    .item-features {
      padding-right: clamp( 1.25rem , 0.6622885129rem  +  2.9385574354vw , 3.3125rem );
    }
}

@supports not (padding-right: clamp( 1.25rem , 0.6622885129rem  +  2.9385574354vw , 3.3125rem )) {
    .item-features {
      padding-right: calc(1.25rem + 2.0625 * (100vw - 20rem) / 70.1875);
    }
}

@supports (padding-bottom: clamp( 0.625rem , 0.357858415rem  +  1.3357079252vw , 1.5625rem )) {
    .item-features {
      padding-bottom: clamp( 0.625rem , 0.357858415rem  +  1.3357079252vw , 1.5625rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.357858415rem  +  1.3357079252vw , 1.5625rem )) {
    .item-features {
      padding-bottom: calc(0.625rem + 0.9375 * (100vw - 20rem) / 70.1875);
    }
}

@supports (font-size: clamp( 1.5rem , 1.357524488rem  +  0.7123775601vw , 2rem )) {
    .item-features__caption {
      font-size: clamp( 1.5rem , 1.357524488rem  +  0.7123775601vw , 2rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.357524488rem  +  0.7123775601vw , 2rem )) {
    .item-features__caption {
      font-size: calc(1.5rem + 0.5 * (100vw - 20rem) / 70.1875);
    }
}

@supports (padding-left: clamp( 0.9375rem , -0.6653495102rem  +  8.0142475512vw , 6.5625rem )) {
    .services__container {
      padding-left: clamp( 0.9375rem , -0.6653495102rem  +  8.0142475512vw , 6.5625rem );
    }
}

@supports not (padding-left: clamp( 0.9375rem , -0.6653495102rem  +  8.0142475512vw , 6.5625rem )) {
    .services__container {
      padding-left: calc(0.9375rem + 5.625 * (100vw - 20rem) / 70.1875);
    }
}

@supports (padding-right: clamp( 0.9375rem , -0.6653495102rem  +  8.0142475512vw , 6.5625rem )) {
    .services__container {
      padding-right: clamp( 0.9375rem , -0.6653495102rem  +  8.0142475512vw , 6.5625rem );
    }
}

@supports not (padding-right: clamp( 0.9375rem , -0.6653495102rem  +  8.0142475512vw , 6.5625rem )) {
    .services__container {
      padding-right: calc(0.9375rem + 5.625 * (100vw - 20rem) / 70.1875);
    }
}

@supports ((-moz-column-gap: clamp( 1.875rem , -0.8320347284rem  +  13.535173642vw , 11.375rem )) or (column-gap: clamp( 1.875rem , -0.8320347284rem  +  13.535173642vw , 11.375rem ))) {
    .services__items {
      -webkit-column-gap: clamp( 1.875rem , -0.8320347284rem  +  13.535173642vw , 11.375rem );
         -moz-column-gap: clamp( 1.875rem , -0.8320347284rem  +  13.535173642vw , 11.375rem );
              column-gap: clamp( 1.875rem , -0.8320347284rem  +  13.535173642vw , 11.375rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.875rem , -0.8320347284rem  +  13.535173642vw , 11.375rem )) or (column-gap: clamp( 1.875rem , -0.8320347284rem  +  13.535173642vw , 11.375rem ))) {
    .services__items {
      -webkit-column-gap: calc(1.875rem + 9.5 * (100vw - 20rem) / 70.1875);
         -moz-column-gap: calc(1.875rem + 9.5 * (100vw - 20rem) / 70.1875);
              column-gap: calc(1.875rem + 9.5 * (100vw - 20rem) / 70.1875);
    }
}

@supports (row-gap: clamp( 0.9375rem , -0.4338268032rem  +  6.856634016vw , 5.75rem )) {
    .services__items {
      row-gap: clamp( 0.9375rem , -0.4338268032rem  +  6.856634016vw , 5.75rem );
    }
}

@supports not (row-gap: clamp( 0.9375rem , -0.4338268032rem  +  6.856634016vw , 5.75rem )) {
    .services__items {
      row-gap: calc(0.9375rem + 4.8125 * (100vw - 20rem) / 70.1875);
    }
}

@supports (font-size: clamp( 1.25rem , 1.107524488rem  +  0.7123775601vw , 1.75rem )) {
    .item-services__title {
      font-size: clamp( 1.25rem , 1.107524488rem  +  0.7123775601vw , 1.75rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.107524488rem  +  0.7123775601vw , 1.75rem )) {
    .item-services__title {
      font-size: calc(1.25rem + 0.5 * (100vw - 20rem) / 70.1875);
    }
}

@supports (font-size: clamp( 1.5rem , 1.286286732rem  +  1.0685663402vw , 2.25rem )) {
    .also-know__text {
      font-size: clamp( 1.5rem , 1.286286732rem  +  1.0685663402vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.286286732rem  +  1.0685663402vw , 2.25rem )) {
    .also-know__text {
      font-size: calc(1.5rem + 0.75 * (100vw - 20rem) / 70.1875);
    }
}

@supports (font-size: clamp( 1.5rem , 0.7876224399rem  +  3.5618878005vw , 4rem )) {
    .contact-us__caption {
      font-size: clamp( 1.5rem , 0.7876224399rem  +  3.5618878005vw , 4rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 0.7876224399rem  +  3.5618878005vw , 4rem )) {
    .contact-us__caption {
      font-size: calc(1.5rem + 2.5 * (100vw - 20rem) / 70.1875);
    }
}

@supports (font-size: clamp( 1.125rem , 0.804430098rem  +  1.6028495102vw , 2.25rem )) {
    .contact-us__text {
      font-size: clamp( 1.125rem , 0.804430098rem  +  1.6028495102vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.804430098rem  +  1.6028495102vw , 2.25rem )) {
    .contact-us__text {
      font-size: calc(1.125rem + 1.125 * (100vw - 20rem) / 70.1875);
    }
}
}

@media (min-width: 71.875em) and (max-width: 90.1875em) {
@supports ((-moz-column-gap: clamp( 1.875rem , -7.4466723549rem  +  12.9692832765vw , 4.25rem )) or (column-gap: clamp( 1.875rem , -7.4466723549rem  +  12.9692832765vw , 4.25rem ))) {
    .main-footer__container {
      -webkit-column-gap: clamp( 1.875rem , -7.4466723549rem  +  12.9692832765vw , 4.25rem );
         -moz-column-gap: clamp( 1.875rem , -7.4466723549rem  +  12.9692832765vw , 4.25rem );
              column-gap: clamp( 1.875rem , -7.4466723549rem  +  12.9692832765vw , 4.25rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.875rem , -7.4466723549rem  +  12.9692832765vw , 4.25rem )) or (column-gap: clamp( 1.875rem , -7.4466723549rem  +  12.9692832765vw , 4.25rem ))) {
    .main-footer__container {
      -webkit-column-gap: calc(1.875rem + 2.375 * (100vw - 71.875rem) / 18.3125);
         -moz-column-gap: calc(1.875rem + 2.375 * (100vw - 71.875rem) / 18.3125);
              column-gap: calc(1.875rem + 2.375 * (100vw - 71.875rem) / 18.3125);
    }
}

@supports ((-moz-column-gap: clamp( 1.5625rem , -7.0232508532rem  +  11.9453924915vw , 3.75rem )) or (column-gap: clamp( 1.5625rem , -7.0232508532rem  +  11.9453924915vw , 3.75rem ))) {
    .main-footer__columns {
      -webkit-column-gap: clamp( 1.5625rem , -7.0232508532rem  +  11.9453924915vw , 3.75rem );
         -moz-column-gap: clamp( 1.5625rem , -7.0232508532rem  +  11.9453924915vw , 3.75rem );
              column-gap: clamp( 1.5625rem , -7.0232508532rem  +  11.9453924915vw , 3.75rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.5625rem , -7.0232508532rem  +  11.9453924915vw , 3.75rem )) or (column-gap: clamp( 1.5625rem , -7.0232508532rem  +  11.9453924915vw , 3.75rem ))) {
    .main-footer__columns {
      -webkit-column-gap: calc(1.5625rem + 2.1875 * (100vw - 71.875rem) / 18.3125);
         -moz-column-gap: calc(1.5625rem + 2.1875 * (100vw - 71.875rem) / 18.3125);
              column-gap: calc(1.5625rem + 2.1875 * (100vw - 71.875rem) / 18.3125);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , -8.8747866894rem  +  13.6518771331vw , 3.4375rem )) {
    .column-main-footer__title:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , -8.8747866894rem  +  13.6518771331vw , 3.4375rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , -8.8747866894rem  +  13.6518771331vw , 3.4375rem )) {
    .column-main-footer__title:not(:last-child) {
      margin-bottom: calc(0.9375rem + 2.5 * (100vw - 71.875rem) / 18.3125);
    }
}
}

@media (min-width: 50em) and (max-width: 90.1875em) {
@supports ((-moz-column-gap: clamp( 1.875rem , -11.3442846034rem  +  26.4385692068vw , 12.5rem )) or (column-gap: clamp( 1.875rem , -11.3442846034rem  +  26.4385692068vw , 12.5rem ))) {
    .why__container {
      -webkit-column-gap: clamp( 1.875rem , -11.3442846034rem  +  26.4385692068vw , 12.5rem );
         -moz-column-gap: clamp( 1.875rem , -11.3442846034rem  +  26.4385692068vw , 12.5rem );
              column-gap: clamp( 1.875rem , -11.3442846034rem  +  26.4385692068vw , 12.5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.875rem , -11.3442846034rem  +  26.4385692068vw , 12.5rem )) or (column-gap: clamp( 1.875rem , -11.3442846034rem  +  26.4385692068vw , 12.5rem ))) {
    .why__container {
      -webkit-column-gap: calc(1.875rem + 10.625 * (100vw - 50rem) / 40.1875);
         -moz-column-gap: calc(1.875rem + 10.625 * (100vw - 50rem) / 40.1875);
              column-gap: calc(1.875rem + 10.625 * (100vw - 50rem) / 40.1875);
    }
}

@supports (padding-top: clamp( 2.5rem , -6.1314152411rem  +  17.2628304821vw , 9.4375rem )) {
    .why__content {
      padding-top: clamp( 2.5rem , -6.1314152411rem  +  17.2628304821vw , 9.4375rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , -6.1314152411rem  +  17.2628304821vw , 9.4375rem )) {
    .why__content {
      padding-top: calc(2.5rem + 6.9375 * (100vw - 50rem) / 40.1875);
    }
}

@supports (padding-bottom: clamp( 1.25rem , -1.08281493rem  +  4.66562986vw , 3.125rem )) {
    .why__content {
      padding-bottom: clamp( 1.25rem , -1.08281493rem  +  4.66562986vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , -1.08281493rem  +  4.66562986vw , 3.125rem )) {
    .why__content {
      padding-bottom: calc(1.25rem + 1.875 * (100vw - 50rem) / 40.1875);
    }
}

@supports (margin-bottom: clamp( 1.875rem , -1.624222395rem  +  6.99844479vw , 4.6875rem )) {
    .why__title:not(:last-child) {
      margin-bottom: clamp( 1.875rem , -1.624222395rem  +  6.99844479vw , 4.6875rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , -1.624222395rem  +  6.99844479vw , 4.6875rem )) {
    .why__title:not(:last-child) {
      margin-bottom: calc(1.875rem + 2.8125 * (100vw - 50rem) / 40.1875);
    }
}

@supports ((-moz-column-gap: clamp( 1.875rem , -4.0347978227rem  +  11.8195956454vw , 6.625rem )) or (column-gap: clamp( 1.875rem , -4.0347978227rem  +  11.8195956454vw , 6.625rem ))) {
    .also-know__container {
      -webkit-column-gap: clamp( 1.875rem , -4.0347978227rem  +  11.8195956454vw , 6.625rem );
         -moz-column-gap: clamp( 1.875rem , -4.0347978227rem  +  11.8195956454vw , 6.625rem );
              column-gap: clamp( 1.875rem , -4.0347978227rem  +  11.8195956454vw , 6.625rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.875rem , -4.0347978227rem  +  11.8195956454vw , 6.625rem )) or (column-gap: clamp( 1.875rem , -4.0347978227rem  +  11.8195956454vw , 6.625rem ))) {
    .also-know__container {
      -webkit-column-gap: calc(1.875rem + 4.75 * (100vw - 50rem) / 40.1875);
         -moz-column-gap: calc(1.875rem + 4.75 * (100vw - 50rem) / 40.1875);
              column-gap: calc(1.875rem + 4.75 * (100vw - 50rem) / 40.1875);
    }
}

@supports (margin-bottom: clamp( 2.5rem , -11.8856920684rem  +  28.7713841369vw , 14.0625rem )) {
    .also-know__title:not(:last-child) {
      margin-bottom: clamp( 2.5rem , -11.8856920684rem  +  28.7713841369vw , 14.0625rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , -11.8856920684rem  +  28.7713841369vw , 14.0625rem )) {
    .also-know__title:not(:last-child) {
      margin-bottom: calc(2.5rem + 11.5625 * (100vw - 50rem) / 40.1875);
    }
}

@supports (margin-bottom: clamp( 1.875rem , -7.6117807154rem  +  18.9735614308vw , 9.5rem )) {
    .also-know__text:not(:last-child) {
      margin-bottom: clamp( 1.875rem , -7.6117807154rem  +  18.9735614308vw , 9.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , -7.6117807154rem  +  18.9735614308vw , 9.5rem )) {
    .also-know__text:not(:last-child) {
      margin-bottom: calc(1.875rem + 7.625 * (100vw - 50rem) / 40.1875);
    }
}

@supports ((-moz-column-gap: clamp( 1.875rem , -11.4220451011rem  +  26.5940902022vw , 12.5625rem )) or (column-gap: clamp( 1.875rem , -11.4220451011rem  +  26.5940902022vw , 12.5625rem ))) {
    .contact-us__container {
      -webkit-column-gap: clamp( 1.875rem , -11.4220451011rem  +  26.5940902022vw , 12.5625rem );
         -moz-column-gap: clamp( 1.875rem , -11.4220451011rem  +  26.5940902022vw , 12.5625rem );
              column-gap: clamp( 1.875rem , -11.4220451011rem  +  26.5940902022vw , 12.5625rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.875rem , -11.4220451011rem  +  26.5940902022vw , 12.5625rem )) or (column-gap: clamp( 1.875rem , -11.4220451011rem  +  26.5940902022vw , 12.5625rem ))) {
    .contact-us__container {
      -webkit-column-gap: calc(1.875rem + 10.6875 * (100vw - 50rem) / 40.1875);
         -moz-column-gap: calc(1.875rem + 10.6875 * (100vw - 50rem) / 40.1875);
              column-gap: calc(1.875rem + 10.6875 * (100vw - 50rem) / 40.1875);
    }
}

@supports (margin-bottom: clamp( 2.5rem , -12.2744945568rem  +  29.5489891135vw , 14.375rem )) {
    .contact-us__title:not(:last-child) {
      margin-bottom: clamp( 2.5rem , -12.2744945568rem  +  29.5489891135vw , 14.375rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , -12.2744945568rem  +  29.5489891135vw , 14.375rem )) {
    .contact-us__title:not(:last-child) {
      margin-bottom: calc(2.5rem + 11.875 * (100vw - 50rem) / 40.1875);
    }
}

@supports (margin-bottom: clamp( 1.25rem , -3.0268273717rem  +  8.5536547434vw , 4.6875rem )) {
    .contact-us__caption:not(:last-child) {
      margin-bottom: clamp( 1.25rem , -3.0268273717rem  +  8.5536547434vw , 4.6875rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , -3.0268273717rem  +  8.5536547434vw , 4.6875rem )) {
    .contact-us__caption:not(:last-child) {
      margin-bottom: calc(1.25rem + 3.4375 * (100vw - 50rem) / 40.1875);
    }
}

@supports (margin-bottom: clamp( 1.25rem , -4.1932348367rem  +  10.8864696734vw , 5.625rem )) {
    .contact-us__text:not(:last-child) {
      margin-bottom: clamp( 1.25rem , -4.1932348367rem  +  10.8864696734vw , 5.625rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , -4.1932348367rem  +  10.8864696734vw , 5.625rem )) {
    .contact-us__text:not(:last-child) {
      margin-bottom: calc(1.25rem + 4.375 * (100vw - 50rem) / 40.1875);
    }
}
}

@media (min-width: 60em) and (max-width: 90.1875em) {
@supports (padding-left: clamp( 1.875rem , -4.0877329193rem  +  9.9378881988vw , 4.875rem )) {
    .item-help {
      padding-left: clamp( 1.875rem , -4.0877329193rem  +  9.9378881988vw , 4.875rem );
    }
}

@supports not (padding-left: clamp( 1.875rem , -4.0877329193rem  +  9.9378881988vw , 4.875rem )) {
    .item-help {
      padding-left: calc(1.875rem + 3 * (100vw - 60rem) / 30.1875);
    }
}

@supports (padding-left: clamp( 1.875rem , -4.0877329193rem  +  9.9378881988vw , 4.875rem )) {
    .item-features {
      padding-left: clamp( 1.875rem , -4.0877329193rem  +  9.9378881988vw , 4.875rem );
    }
}

@supports not (padding-left: clamp( 1.875rem , -4.0877329193rem  +  9.9378881988vw , 4.875rem )) {
    .item-features {
      padding-left: calc(1.875rem + 3 * (100vw - 60rem) / 30.1875);
    }
}
}

@media (min-width: 20em) and (max-width: 27.5em) {
@supports (padding-left: clamp( 0.9375rem , -1.5625rem  +  12.5vw , 1.875rem )) {
    .item-help {
      padding-left: clamp( 0.9375rem , -1.5625rem  +  12.5vw , 1.875rem );
    }
}

@supports not (padding-left: clamp( 0.9375rem , -1.5625rem  +  12.5vw , 1.875rem )) {
    .item-help {
      padding-left: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 7.5);
    }
}

@supports (padding-left: clamp( 0.9375rem , -1.5625rem  +  12.5vw , 1.875rem )) {
    .item-features {
      padding-left: clamp( 0.9375rem , -1.5625rem  +  12.5vw , 1.875rem );
    }
}

@supports not (padding-left: clamp( 0.9375rem , -1.5625rem  +  12.5vw , 1.875rem )) {
    .item-features {
      padding-left: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 7.5);
    }
}
}

@media (any-hover: hover) {
  .logo:hover span {
    -webkit-animation: bounce 0.6s;
            animation: bounce 0.6s;
  }

  .logo:hover span:nth-child(2) {
    -webkit-animation-delay: 0.05s;
            animation-delay: 0.05s;
  }

  .logo:hover span:nth-child(3) {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
  }

  .logo:hover span:nth-child(4) {
    -webkit-animation-delay: 0.15s;
            animation-delay: 0.15s;
  }

  .logo:hover span:nth-child(5) {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
  }

  .logo:hover span:nth-child(6) {
    -webkit-animation-delay: 0.25s;
            animation-delay: 0.25s;
  }

  .logo:hover span:nth-child(7) {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }

  .logo:hover span:nth-child(8) {
    -webkit-animation-delay: 0.35s;
            animation-delay: 0.35s;
  }

  .logo:hover span:nth-child(9) {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
  }

  .logo:hover span:nth-child(10) {
    -webkit-animation-delay: 0.45s;
            animation-delay: 0.45s;
  }

  .logo:hover span:nth-child(11) {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
  }

  .logo:hover span:nth-child(12) {
    -webkit-animation-delay: 0.55s;
            animation-delay: 0.55s;
  }

  .logo:hover span:nth-child(13) {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
  }

  .logo:hover span:nth-child(14) {
    -webkit-animation-delay: 0.65s;
            animation-delay: 0.65s;
  }

@-webkit-keyframes bounce {
    0%, 100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }

    25% {
      -webkit-transform: rotateX(20deg) translateY(2px) rotate(-3deg);
              transform: rotateX(20deg) translateY(2px) rotate(-3deg);
    }

    50% {
      -webkit-transform: translateY(-20px) rotate(3deg) scale(1.1);
              transform: translateY(-20px) rotate(3deg) scale(1.1);
    }
}

@keyframes bounce {
    0%, 100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }

    25% {
      -webkit-transform: rotateX(20deg) translateY(2px) rotate(-3deg);
              transform: rotateX(20deg) translateY(2px) rotate(-3deg);
    }

    50% {
      -webkit-transform: translateY(-20px) rotate(3deg) scale(1.1);
              transform: translateY(-20px) rotate(3deg) scale(1.1);
    }
}

  .menu__link._navigator-active:hover {
    color: #22356F;
  }

  .menu__link._navigator-active:hover::after {
    width: 125%;
    background-color: #22356F;
  }

  .menu__link:hover {
    color: #62D0DF;
  }

  .menu__link:hover::after {
    background-color: #62D0DF;
    width: 125%;
  }

  .column-main-footer__adress:hover {
    color: #FAB63E;
    border-bottom: 0.0625rem solid #FAB63E;
  }

  .column-main-footer__tel:hover {
    color: #FAB63E;
    border-bottom: 0.0625rem solid #FAB63E;
  }

  .column-main-footer__mail:hover {
    color: #62D0DF;
    border-bottom: 0.0625rem solid #62D0DF;
  }

  .actions-main__button--bg:hover {
    background-color: transparent;
    color: #FAB63E;
  }

  .actions-main__button--no-bg:hover {
    background-color: #FAB63E;
    color: #fff;
  }

  .also-know__link:hover {
    color: #62D0DF;
    border-bottom: 0.0625rem solid #62D0DF;
  }

  .contact-us__link:hover {
    color: #FAB63E;
    border-bottom: 0.0625rem solid #FAB63E;
  }
}

.webp .item-features:nth-child(1){ background: url(../img/features/01.webp) center/cover no-repeat; }

.webp .item-features:nth-child(2){ background: url(../img/features/02.webp) center/cover no-repeat; }

.webp .item-features:nth-child(3){ background: url(../img/features/03.webp) center/cover no-repeat; }

.webp .item-features:nth-child(4){ background: url(../img/features/04.webp) center/cover no-repeat; }

.webp .item-features:nth-child(5){ background: url(../img/features/05.webp) center/cover no-repeat; }

.webp .item-features:nth-child(6){ background: url(../img/features/06.webp) center/cover no-repeat; }